html,body,h1,h2,h3,h4,h5,h6,table {
    font-family: Myriad Pro, Verdana;
    color: white;
    vertical-align: baseline;
}

body, p {
    font-size: 18px;
    font-weight: 300;
    z-index: 1000;
    margin: 0;
    padding: 10px 0;
}

p1 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0;
}

body{
    --nav-height: 60px;
    padding-top: var(--nav-height);
}

h1{
    font-size: 36px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    font-size: 32px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 28px;
    font-weight: 350;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    font-size: 24px;
    font-weight: 350;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center {
    margin: auto;
    width: 100%;
}

.wrapper-main{
    width: 1000px;
}

.container1 {
    display: grid;
    justify-content:center;
    grid-template-columns: 375px 525px;
}

.container2 {
    display: grid;
    justify-content:center;
    grid-template-columns: 900px;
}

.header-main{
    width: 100%;
    height: var(--nav-height);
    background-color:rgba(36, 48, 71);
    padding: 0 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1100;
    transition: transform 0.5s;
}

.header-main-nav {
    overflow: hidden;
    background-color:rgba(36, 48, 71);
    top: 0;
    width: 500px;
    height: 100%;
    float: left;
    padding-right: 20px;
  }

.header-main-logo {
    width: 30px;
    height: 50%;
    float: left;
    display: flex;
    margin-left: 0px;
    padding: 15px 30px;
}

.header-main-menu {
    width: 80px;
    height: 100%;
    float: left;
    display: flex;
    padding-right: 30px;
}

.header-main-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-main-nav ul li {
  list-style: none;
   display: inline-block;
   font-weight: 400;
  }

.header-main-nav ul li a {
  text-decoration: none;
  float: left;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 60px;
  padding: 0 10px;
}

.header-main-nav ul li:hover {
    font-weight:bold;
}

.header-main-nav ul li a:hover {
    font-weight:bold;
    color: rgb(140, 171, 202);
}

.rev-ord {
    padding-left: 0;
    list-style: none;
}

.rev-ord .lii {
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
}
.rev-ord .lii::before {
    display: inline-block;
    content: "[" attr(data-counter) "]";
    width: 2em;
    margin-left: -2em;
}

a {
    text-decoration-color:white; 
    color:white;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}


ol {
    list-style-type: none;
    counter-reset: item;
}

ol li{
    padding-bottom: 1 em;
    margin-left: 2 em;
    vertical-align: top
  }

ol li::before {
    display: inline-block;
    content: "[" counter(item) "]";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
}

.burger-menu, .burger-menu-btn {
    display: none;
}

#arrow-up {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 65px;
    width: 65px;
    height: 60px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0px;
  }
  
.arrow-up-btn {
    width: 65px;
    height: 65px;
    float: left;
    display: flex;
    padding: 15px;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}

@media only screen and (max-width: 600px) {

    body, p {
        font-size: 14px;
    }
    
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 26px;
    }
    
    h3{
        font-size: 22px;
    }
    
    h4{
        font-size: 18px;
    }

    p1 {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        padding: 10px 0;
    }

    .header-main{
        background-color:rgba(36, 48, 71);
    }
    
    .wrapper-main{
        width: 100%;
    }
    
    .container1 {
        width: 100%;
        grid-template-columns: 90%;
        justify-content:center;
        padding-left: 0px;
    }
    
    .container2 {
        width: 100%;
        grid-template-columns: 90%;
        justify-content:center;
        }
    
    .header-main-nav {
        width: 100%;
        display: none;
    }

    lii {
        padding-bottom: 1 em;
        margin-left: 2em;
        vertical-align: top;
      }
  
    lii::before {
        display: inline-block;
        content: "[" counter(item) "]";
        counter-increment: item -1;
        width: 2em;
        margin-left: -2em;
    }

    .burger-menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/burger-open.png), url(../images/burger-close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
    }
    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background-color: rgba(36, 48, 71);
        text-align: center;
        padding: 0px;
        padding-right: 20px;        
    }
    
    .burger-menu ul {
        width: 100%;
        height: calc(100vh - 60px);
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    .burger-menu ul li {
        flex-basis: 100%;
    }

    .burger-menu ul li a {
        display: block;
        height: 100%;
        font-size: 24px;
        padding: 30px 0;
        flex-basis: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 400; 
    }

    .burger-menu ul li:hover {
        background-color: rgb(81, 109, 161);
    }
    .burger-menu ul li a:hover {
        color: rgba(36, 48, 71);
        font-weight: bold;
    }
}

@media only screen and (max-width: 1000px) {


    .header-main{
        background-color:rgba(36, 48, 71);
    }
    
    .wrapper-main{
        width: 100%;
    }
    
    .container1 {
        width: 100%;
        grid-template-columns: 90%;
        justify-content:center;
        padding-left: 0px;
    }
    
    .container2 {
        width: 100%;
        grid-template-columns: 90%;
        justify-content:center;
        }
    

    lii {
        padding-bottom: 1 em;
        margin-left: 2em;
        vertical-align: top;
      }
  
    lii::before {
        display: inline-block;
        content: "[" counter(item) "]";
        counter-increment: item -1;
        width: 2em;
        margin-left: -2em;
    }
}


